@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");
@import "tailwindcss";

/* Definición de tu tema / variables globales */
@theme {
  /* Fuente predeterminada */
  --font-sans: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

  /* Colores principales */
  --color-primary-light: #818CF8;
  --color-primary: #4F46E5;
  --color-primary-dark: #3730A3;

  --color-accent: #10B981;

  /* Neutrales / textos */
  --color-text-default: #1F2937;
  --color-text-light: #c5c5c5;
  --color-text-muted: #6B7280;

  /* Fondos */
  --color-bg-light: #e1e1ec;
  --color-bg-dark: #1d273b;
  --color-bg-ultraDark: #191e29;

  /* Estados */
  --color-success: #22C55E;
  --color-error: #FF2222;
  --color-warning: #F59E0B;

  /* Borde / división */
  --color-border-light: #E5E7EB;
  --color-neutral-dark: #374151;
}

/* Opcional: si querés asignar la fuente por defecto para todos los textos */
:root {
  font-family: var(--font-sans);
}
